---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import logo from "../../images/bootcamp-logo.svg";

interface Props {
  post: CollectionEntry<"beginner">;
}

export async function getStaticPaths() {
  const blogPosts = await getCollection("beginner");
  return blogPosts.map((post: { slug: string; }) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="test-post">
  <div class="m-24">
    <a href="/flutter-bootcamp/">
      <img src={logo.src} class="logo" />
    </a>
  </div>
  <div class="mx-24 my-8 flex flex-col prose max-width with-bg p-12 rounded-xl">
    <article>
      <Image
        src={post.data.cover}
        alt={post.data.title}
        class="object-cover object-center !m-0 aspect-square block"
        height={200}
      />
      <h1 class="md:!text-5xl md:!leading-[1.2]">{post.data.title}</h1>
      <p class="lead">{post.data.excerpt}</p>
      <div>
        <Content />
      </div>
    </article>
  </div>
</Layout>

<style>
   img.logo {
    height: 70px;
  }
  .with-bg {
    background-color: rgba(255, 255, 255, 0.7);
  }
</style>
